body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

body {
    background-color: #d8a548;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #350e0e;
    padding: 10px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 468px;
    height: 468px;
    gap: 1px;
    background-color: rgb(92, 83, 83);
}

.cell {
    border: 3px solid rgb(44, 34, 34);
    width: 150px;
    height: 150px;
    font-size: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restart img {
    width: 100px;
    height: 100px;
}

.pan {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 38, 38);
    border-radius: 50px;
}

img.x {
    width: 100px;
    height: 100px;
}

img.o {
    width: 100px;
    height: 100px;
}